{% extends 'index.html' %}

{% load static %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'dist/css/custom.css' %}">
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="{% static 'dist/img/RPAdmin-logo-home-1.png' %}" alt="AdminLTELogo" height="150" width="150">
    </div>
  
<div class="card">            
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">   
                <div class="col-12 p-3">
                    <div class="row d-flex">

                        <div class="col-lg-2 col-md-3 col-sm-6 align-items-center">
                            <a>
                                <div class="p-3" >
                                    <img class="animation__shake" src="{% static 'dist/img/loguito.png' %}" alt="AdminLTELogo" height="150" width="150" >
                                </div>
                            </a>
                        </div>
                     
                        <div class="col-lg-2 col-md-6 col-sm-6">
                          <!-- small box -->
                          <div class="small-box" style="background-color: #b9fbe8;border: 3px solid #025e44;">
                            <div class="inner">

                              <h3>{{ HorasBeneficio }} Hs</h3>
            
                              <h5><b>beneficio Mensual</b> </h5>
                            </div>
          
                            <div class="icon" style="color: #025e44;opacity: 0.5;">
                              <i class="fa fa-clock"></i>
                            </div>
          
                            <a href="/ejecuciones/" class="small-box-footer" style="color: #025e44;"><b> &nbsp</b><i class="fa fa-clock"></i></a>
                          </div>
                        </div>

                        <div class="col-lg-2 col-md-3 col-sm-6">
                            <!-- small box -->
                            <div class="small-box" style="background-color: #b9fbe8;border: 3px solid #025e44;">
                              <div class="inner">
    
                                <h3>{{ EjecucionesTotales }}</h3>
              
                                <h5><b>Ejec. Mensuales</b> </h5>
                              </div>
            
                              <div class="icon" style="color: #006246;opacity: 0.5;">
                                <i class="fas fa-hourglass" ></i>
                              </div>
            
                              <a href="/ejecuciones/" class="small-box-footer" style="color: #025e44;"><b>Ver Ejecuciones &nbsp</b><i class="fa fa-hourglass"></i></a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 col-sm-6">
                          <!-- small box -->
                          <div class="small-box" style="background-color: #b9fbe8;border: 3px solid #025e44;">
                            <div class="inner">
  
                              <h3>{{ ServidoresTotales }}</h3>
            
                              <h5><b>Servidores PRD</b> </h5>
                            </div>
          
                            <div class="icon" style="color: #025e44;opacity: 0.5;">
                              <i class="fa fa-server"></i>
                            </div>
          
                            <a href="/ejecuciones/" class="small-box-footer" style="color: #025e44;"><b>Ver Servidores &nbsp</b><i class="fa fa-server"></i></a>
                          </div>
                        </div>

                        <div class="col-lg-2 col-md-3 col-sm-6">
                          <!-- small box -->
                          <div class="small-box" style="background-color: #b9fbe8;border: 3px solid #025e44;">
                            <div class="inner">
  
                              <h3>{{ RobotsActivos }}</h3>
            
                              <h5><b>Robots Activos</b> </h5>
                            </div>
          
                            <div class="icon" style="color: #025e44;opacity: 0.5;">
                              <i class="fa fa-robot"></i>
                            </div>
          
                            <a href="/ejecuciones/" class="small-box-footer" style="color: #025e44;"><b>Ver Robots &nbsp</b><i class="fa fa-robot"></i></a>
                          </div>
                        </div>

                        <div class="col-lg-2 col-md-6 col-sm-6">
                          <!-- small box -->
                          <div class="small-box" style="background-color: #b9fbe8;border: 3px solid #025e44;">
                            <div class="inner">

                              <h3>{{ IncidentesActivos }}</h3>
            
                              <h5><b>Incidentes Activos</b> </h5>
                            </div>
          
                            <div class="icon" style="color: #025e44;opacity: 0.5;">
                              <i class="fa fa-info-circle"></i>
                            </div>
          
                            <a href="/ejecuciones/" class="small-box-footer" style="color: #025e44;"><b>Ver Incidentes &nbsp</b><i class="fa fa-info-circle"></i></a>
                          </div>
                        </div>

                      </div>
                </div>

             
            </div>

            <div class="row">
  
                <div class="col-4 p-4">
                  <div style="text-align: center;">
                    <h4><b style="color: #025e44;">Procesos por Gerencia</b></h4>
                    <canvas id="bar-chart-horizontal2" width="800" height="450"></canvas>
                  </div>
                </div>
                <div class="col-4 p-4">
                  <div style="text-align: center;"></div>
                  <h4><b style="color: #025e44;">Proyeccion de beneficio total en horas por gerencia</b></h4>
                  <canvas id="pie-chart" width="800" height="450"></canvas>
                </div>
                <div class="col-4">
                  <canvas id="bar-chart-horizontal" width="800" height="450"></canvas>
                </div>
              
            </div>  


        </div>

</div>

<script>
new Chart(document.getElementById("bar-chart-horizontal2"), {
    type: 'horizontalBar',
    data: {
      labels: {{ gerencias2|safe }},
      datasets: [
        {
          label: "POCESOS TOTALES:",
          backgroundColor: ["#025e44","#4CAF50","#CDDC39","#00C851","#009688","#66BB6A","#9CCC65","#7CB342","#00E676","#1B5E20",],
          data: {{ Procesos2|safe }},
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: false,
        text: 'Procesos totales por Gerencia'
      },
      scales: {
        yAxes: [{
            ticks: {
                fontSize: 18,
                fontColor: "#025e44",
                fontWeight: "bold"
            }
        }],
        xAxes: [{
            ticks: {
                fontColor: "#025e44",
                fontWeight: "bold",
            }
        }]
    }
    }
});



</script>

<script>

new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
      labels: {{ gerencias2|safe }},
      datasets: [{
        label: "Procesos totales",
        backgroundColor: ["#025e44","#4CAF50","#CDDC39","#00C851","#009688","#66BB6A","#9CCC65","#7CB342","#00E676","#1B5E20",],
        data: {{ Procesos2|safe }},
      }]
    },
    options: {
      title: {
        display: false,
      }
    }
});
</script>


  
{% endblock %}

